.btn-group input {
    background-color: #66af5c;
    border: 1px solid darkblue;
    color: white;
    padding: 10px 24px;
    margin: 22px;
    cursor: pointer;
    float: inside;
    width: 70%;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}


.btn-group button:hover {
    background-color: #38228e;
}